<h2>{{ titre|upper }}</h2>
<p class="pannel-profil__text"><strong>Prénom : </strong>{{ oUtilisateurConnecter.utilisateur_prenom }}</p>
<p class="pannel-profil__text"><strong>Nom : </strong>{{ oUtilisateurConnecter.utilisateur_nom }}</p>
<p class="pannel-profil__text"><strong>Courriel : </strong>{{ oUtilisateurConnecter.utilisateur_courriel }}</p>
<br><li class="menu__item menu__item--profil"><a class="menu__link" href="admin?entite=utilisateur&action=u_deconnexion">Déconnexion</a></li>